html {
  font-family: sans-serif;
  line-height: 1.15;
}

h1 {
  background-color: lightgrey;
  border-left-color: grey;
  color: black;
}

h4 {
  background-color: lightgrey;
}

a:hover {
  color: red;
  text-decoration: underline;
}
